* {
  box-sizing: border-box;
}

@media only screen and (min-width: 375px) {
  body {
    padding: 0;
    margin: 0;
  }

  #ToolBar {
    background: #3c3a39;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 1em;
    margin: 0;
    width: 100%;
  }

  .main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
  }

  .Intro {
    background-color: #1c1a19;
    padding-left: 4vw;
    padding-top: 5vh;
    background-image: url("Background-Images/Illustration.png");
    background-repeat: no-repeat;
    background-position: right 26vh;
    padding-bottom: 20vh;
  }

  .h1-orange {
    margin-top: 0;
    font-family: 'Crete Round', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 10vw;
    color: #ff6b00;
    margin-bottom: 0;
  }

  .h2-white {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    color: #fff5e1;
    font-size: x-large;
  }

  .p-white {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #fff;
    font-size: large;
  }

  .list-icons {
    margin-bottom: 0;
    display: flex;
    list-style: none;
    padding-left: 3%;
  }

  .works {
    display: grid;
    grid-template-rows: 1.75fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    padding: 0 5%;
  }

  .sec-1 {
    width: 77vw;
  }

  .sec-1 ul {
    padding-left: 0;
  }

  .poster {
    margin-top: 4vh;
    width: 75vw;
  }

  .dark li {
    margin: 0 4%;
  }

  .no-style li {
    color: #fff;
    margin-top: 5%;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: x-large;
    padding-bottom: 2vh;
  }

  .cent-list {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
  }

  .cent-list li {
    list-style: none;
    padding: 0;
    margin-left: 0;
  }

  .works ul li {
    margin-right: 2vw;
  }

  .h2-dark {
    font-family: 'Crete Round', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 8vw;
    color: #1c1a19;
  }

  .h3-dark {
    font-family: 'Crete Round', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 6vw;
    color: #091e42;
  }

  .p-dark {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #091e42;
  }

  .btn {
    background-color: #ff6b00;
    border: none;
    font-size: 4vw;
    padding: 0.5em;
    color: #fff;
    margin-top: 0.5em;
  }

  .btn:hover {
    border: solid 2px #ff6b00;
    cursor: pointer;
    background-color: #fff5e1;
    color: #ff6b00;
  }

  .btn:disabled {
    background-color: #f4f1f0;
    color: #5b5957;
    border: none;
  }

  .sec-1 button {
    width: 27vw;
    margin-bottom: 0;
  }

  .sec-2 {
    display: flex;
    flex-direction: column;
    background-image: url('Works-Images/sec-2-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 9vh;
    width: 77vw;
    margin-top: 7vh;
  }

  .sec-2 button {
    width: 100%;
    margin-top: auto;
  }

  .h3-light {
    font-family: 'Crete Round', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 8vw;
    margin-bottom: 0;
    color: #fff;
    padding-left: 2vw;
    padding-right: 2vw;
  }

  .sec-2 p {
    font-size: 4vw;

  }

  .p-light {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #fff;
    padding-left: 2vw;
    padding-right: 2vw;
  }

  .Bottom {
    display: grid;
    grid-template-rows: 1.2fr 2fr 1.5fr;
    margin-top: 7vh;
  }

  .Aboutme {
    background-color: #1c1a19;
    padding-left: 6vw;
    background-image: url('Background-Images/Group.png');
    background-repeat: no-repeat;
    background-position:right bottom;
  }

  .Aboutme p {
    padding-left: 0;
  }

  .h2-orange {
    font-family: 'Crete Round', sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #ff6b00;
    font-size: 16vw;
    margin-bottom: 0;
  }

  .languages {
    padding-right: 16%;
  }

  .languages hr {
    width: 100%;
    display: flex;
    margin: 0 10%;
  }

  .Techs {
    background-color: #1c1a19;
  }

  .large {
    color: #fff;
    font-size: 8vw;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    text-align: center;
    list-style: none;
  }

  .diamond::before {
    transform: rotate(-45deg);
  }

  .symbol {
    position: relative;
    list-style: none;
    margin-left: 10%;
  }

  .circle::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -30%;
    width: 15px;
    height: 15px;
    background-color: #ff6b00;
    transform-origin: center;
    margin-top: -7.5px;
    border-radius: 50%;
  }

  .circle {
    position: relative;
    list-style: none;
    margin-left: 11%;
  }

  .symbol::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -13%;
    width: 15px;
    height: 15px;
    background-color: #ff6b00;
    transform-origin: center;
    margin-top: -7.5px;
  }

  .Techs hr {
    width: 80vw;
  }

  .contacts {
    padding: 0 8%;
    display: flex;
    flex-direction: column;
  }

  .inter {
    color: #172b4d;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 8vw;
    text-align: center;
  }

  .grey {
    padding-bottom: 5%;
    padding-left: 5%;
    width: 100%;
    margin-bottom: 7%;
    border: none;
    border-bottom: 1px solid #dbd8d7;
  }

  .grey:focus {
    outline: none;
  }

  .box {
    padding-bottom: 17%;
    padding-top: 3%;
    width: 100%;
    padding-left: 3%;
    background-image: url('Background-Images/Union.png');
    background-repeat: no-repeat;
    background-position: right bottom;
    border: none;
    background-color: #fbf8f7;
  }

  .box::placeholder {
    color: #3c3a39;
    font-family: 'Inter', sans-serif;
    font-style: italic;
    font-weight: 400;
  }

  .box:focus {
    outline: none;
  }

  .contacts button {
    width: 40%;
    margin-left: 30%;
    margin-bottom: 7%;
  }

  .dark {
    justify-content: center;
  }
}

@media only screen and (min-width: 767px) {

  #ToolBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 3em;
  }
/* Intro part black top */
  .Intro {
    display: flex;
    flex-wrap: wrap;
    padding: 10% 0 0 0;
    background-image: url('Background-Images/Desktop-bg.svg');
    background-position: right top;
    background-size: 45%;
    align-items: center;
  }

  .Intro ul {
    order: -1;
    margin: auto 0;
    flex-direction: column;
    padding: 0 0 0 3%;
    margin-right: 3%;
  }

  .h1-orange {
    font-weight: 600;
    font-size: 3em;
  }

  .h2-white {
    font-size: 2em;
  }

  .p-white {
    font-size: 1em;
  }

  /* Works Section */
  .works {
    display: flex;
    flex-wrap: wrap;
  }
  .sec-1 {
    width: 90%;
  }

  .card-1 {
    display: flex;
    flex-wrap: wrap;
  }

  .img {
    width: 58%;

    margin-right: 4%;
  }

  .poster {
    width: 100%;
  }

  .description {
    width: 38%;

  }

  .h3-dark {
    font-family: 'Crete Round', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 3vw;
    color: #091e42;
  }

  .description p {
    font-size: 1.5vw;
  }
  .description ul {
    padding-left: 0;
    gap: 0vw;
  }

  .description ul li {
    margin: 0;
  }
  .description ul li img{
    width: 80%;
  }

  .description button {
    font-size: 2vw;
    padding: 1vh;
    width: 12vw;
  }



  .sec-2 {
    background-image: url('Works-Images/sec-2-bg.png');
    background-size: cover;
    padding-top: 0;
    margin-bottom: 0;
    width: 30%;
    margin-right: 2%;
    padding-bottom: 0;
    margin-top: 8vh;
    padding: 0;
  }

  .sec-2 p {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #fff;
    padding-left: 1vw;
    width: 100%;
    font-size: 1.5vw;
  }

  .sec-2 button {
    width: 0;
    margin-top: 0;
    margin-bottom: auto;
    font-size: 0;
    padding: 0;
    visibility: hidden;
  }

  .sec-2 ul {
    margin: 0;
    display: flex;
    list-style: none;
    padding-left: 1vw;
  }

  .sec-2 ul li {
    margin: 0;
    padding-left: 0;
    justify-content: flex-start;
  }

  .sec-2 ul img {
    width: 85%;
  }

  .h3-light {
    font-family: 'Crete Round', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 3vw;
    color: #fff;
    padding-left: 1vw;
    padding-right: 0;
    padding-top: 0;
    margin-top: 5vh;
    margin-bottom: 0;
  }

  .bg-new h3, .bg-new p, .bg-new ul {
    visibility: hidden;
    font-size: 0;
  }

  .bg-new {
    background-image: url('Background-Images/Img\ Placeholder\ \(1\).png');
  }
  .bg-new button {
    visibility: visible;
    font-size: 2vw;
    padding: 2vh;
    width: 100%;
    margin-top: auto;
    margin-bottom: 0;
  }

  /* Bottom section (Languages, contacts */
  .Bottom {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    margin-top: 5vh;
  }

  .Aboutme {
    background-image: url(Background-Images/illustration-about\ me.svg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 40vw;
  }

  .Aboutme button {
    margin-bottom: 20%;
    font-size: 2vw;
  }

  .h2-orange {
    font-family: 'Crete Round', sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #ff6b00;
    font-size: 8vw;
    margin-bottom: 0;
  }

  .p-light {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #fff;
    padding-left: 2vw;
    padding-right: 2vw;
    font-size: 1.8vw;
    width: 60%;
  }

  .languages {
    padding: 0;
  }

  .cent-list {
    display: flex;
    justify-content: space-between;
    padding: 0 5% 0 10%;
  }

  .large {
    font-size: 200%;
    margin-left: 10%;
    
  }

  .no-style {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 0;
  }

  .no-style li {
    color: #fff;
    margin-top: 5%;
    font-size: large;
    padding-bottom: 2vh;
    margin-left: 0;
  }

  .diamond::before {
    transform: rotate(-45deg);
  }

  .symbol {
    position: relative;
    list-style: none;
    margin-left: 0%;
  }

  .circle::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -25%;
    width: 15px;
    height: 15px;
    background-color: #ff6b00;
    transform-origin: center;
    margin-top: -7.5px;
    border-radius: 50%;
  }

  .circle {
    position: relative;
    list-style: none;
    margin-left: -53%;
    margin-top: 15%;
  }

  .symbol::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -13%;
    width: 15px;
    height: 15px;
    background-color: #ff6b00;
    transform-origin: center;
    margin-top: -7.5px;
  }

  .contacts {
    padding: 4% 8%;
    display: flex;
    flex-direction: row;
    
  }

  .inter {
    color: #172b4d;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 3vw;
    width: 40%;
    text-align: left;
    margin-top: 0;
  }

  .contacts form {
    width: 60%;
  }

  .contacts form button {

    margin-left: 0;
    font-size: 2vw;
    padding: 1.5vh 1vw;
    width: fit-content;

  }
  
}
