/* For Mobile Screens */
@media only screen and (min-width: 375px) {
  body {
    padding: 0;
    margin: 0;
    width: fit-content
  }

  #ToolBar {
    background: #3c3a39;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 423px;
  }

  #logo-placeholder {
    padding: 10px 12px;
    margin-left: 12px;
    text-align: center;
  }

  #tool-Button {
    width: 40px;
    height: 40px;
    padding: 8px;
    font-size: larger;
    color: white;
    border: none;
    background-color: transparent;
  }

  #headline {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 50px 24px;
    left: 0;
    top: 92px;
    background: #1c1a19;
    width: 375px;
    background-image: url("Background-Images/Illustration.png");
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-position-x: right;
    min-height: 500px;
  }

  #Name {
    width: 327px;
    height: 124px;
    top: 120px;
    left: 24px;
    font-family: 'Crete Round', sans-serif;
    font-size: 28px;
    font-weight: 400;
    line-height: 64px;
    letter-spacing: 0.37px;
    text-align: left;
    color: #ff6b00;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  #Status {
    width: 327px;
    height: 27px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 32px;
    flex: none;
    flex-grow: 0;
    color: #fff5e1;
  }

  #Contacts {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  #Service {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
    color: #fff;
    display: flex;
    flex-direction: column;
    right: 0;
  }

  #Works {
    display: grid;

  }
 

  .Sec-1 {
    min-width: 375px;
    display: grid;
    justify-content: center;
    color: #091E42;
  }

  .Sec-1 h2 {
    font-family: 'Crete Round';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    color: #091E42;
  }

  #Works h3 {
    font-family: 'Crete Round';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 44px;
  }

  .Sec-1 p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #091E42;
    margin-top: -4%;
    
  }

  .sec-2 {
    display: grid;
    grid-template-rows: repeat(4,auto);
    justify-content: center;
    margin-top: 4%;
  }

  .data {
    background-image: url('Works-Images/sec-2-bg.png');
    background-repeat: no-repeat;
    background-position-y: top;
    background-position-x: center;
    padding-top: 15%;
    min-width: 327px;
    color: #fff;
  }

  .data p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-top: -4%;
    padding-left: 5%;
  }

  .data h3 {
    padding-left: 5%;
    
  }

  .tech-stacks {
    display: grid;
    grid-template-columns: repeat(4, auto);
    justify-content: space-between;
  }

  .S1-btn {
    width: fit-content;
    height: 48px;
    margin-top: 3%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    color: #fff;
    background: #ff6b00;
    border: none;
  }

  .tech {
    padding-left: 5%;
  }

  .s2-btn {
    height: 48px;
    margin-top: 3%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    color: #fff;
    background: #ff6b00;
    border: none;
    width: 100%;
  }

  .btn:hover {
    background-color: #fff5e1;
    color: #ff6b00;
    border: solid 1px #ff6b00;
    cursor: pointer;
  }

  .btn:disabled {
    background-color: #f4f1f0;
    color: #091E42;
    border: none;
  }
}
